In [ ]:
#@title Installing packages
!pip install apyori

In [2]:
#@title Preparing the data
#Importing libraries
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('Data.csv', header = None) # No columns

# Preparing the data for eclat as list
shopping_list = []
for i in range(df.shape[0]):
  shopping_list.append([str(product) for product in df.iloc[i, :]])

In [3]:
#@title Training the Eclat model
from apyori import apriori
"""
min_support = 3*7 / 7501 # A product is sold at least 3 times per day
min_confidence = 0.2, starts from 0.8 --> no rule, 0.4 --> a few, 0.2 --> good!
min_lift = 3 from experience for relevant rules
min_length and max_length for the amount of products = 2 for "Buy 1 Get 1 Free"   
"""
# apriori model returns a list of rules
rules = apriori(transactions = shopping_list, min_support = 0.003, 
                min_confidence = 0.2, 
                min_lift = 3,
                min_length = 2,
                max_length = 2)

In [4]:
#@title Results
# Compared to Apriori model, Eclat only returns sets depending on support.
def inspect(rules):
  """
  Takes rules as a list of return object of apriori model (generator),
  Returns a pandas DataFrame object for decent illustration and 
  sorted final rules by descending support values.  
  """
  # Separate the columns
  lhs         = [tuple(r[2][0][0])[0] for r in rules]
  rhs         = [tuple(r[2][0][1])[0] for r in rules]
  supports    = [r[1] for r in rules]
  # Collect the columns in one result
  result = list(zip(lhs, rhs, supports))
  # Convert to pandas DataFrame
  result = pd.DataFrame(result, columns = ['Product 1', 
                                           'Product 2', 
                                           'Support'
                                           ])
  return result.nlargest(n=10, columns='Support')

final_rules = inspect(list(rules))
final_rules.style